################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Ignore the `.vs` folder
.vs/

# Ignore the `obj` folder
obj/

# Ignore the project and solution files
*.csproj
*.sln
